*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  background-color: grey;
  color: white;
}
.wrap-cd {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin: auto;
  justify-content: space-between;

}
.cd {
  @include disco;
  // width: 30%;
  // text-align: center;
  // background-color: black;
  // margin:20px;
   h2 {
    margin: 10px;
   }
   h6 {
    margin: 10px;
   }
   img {
    @include img-disco;
   }
}
