@mixin disco {
  width: 30%;
  text-align: center;
  background-color: black;
  margin:20px;
}
@mixin img-disco {
  height: 25%;
  width: 80%;
  margin: auto;
  padding: 50px;
  padding-bottom: 0;
}
